<form>
  <div class="nr-gallery-toolbar">
    <button type="button" data-action="collapse-all" title="{{localize 'nr-scene-fade.gallery.collapseAll'}}">
      <i class="fas fa-compress-alt"></i> {{localize 'nr-scene-fade.gallery.collapseAll'}}
    </button>
  </div>
  <div class="nr-gallery-scenes">
    {{{folderTreeHTML}}}
  </div>
</form>
